{% extends 'base.html' %}
{% load static %}
{% block alt_nav_login %}
<a href="{% url 'users:signup' %}" class="alt-login alt-signup"><i class="fas fa-user-plus"></i></a>
{% endblock %}
{% block main_signup %}
<li><a href="{% url 'users:signup' %}" id="main-signup"><i class="fas fa-user-plus"></i></a></li>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
    .h2{padding:0;margin:0;}
    
    .footer,.subfooter{display:none;}
</style>

<div class="login_form container">
    <br/><br/>
    <h1 class="text-white">Log In</h1>
    <form method="post" class="text-white">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-large btn-success" value="Log In">
        <hr>
        <a href="{% url 'users:password_reset' %}" style="color:rgb(69, 182, 69);display:block;">Forgot Password?</a>
        <a href="{% url 'users:signup' %}" style="color:rgb(69, 182, 69);display: block;">Don't have an account?</a>
        
    </form>
</div>
<br>
<hr>
<br>
<br>
{% endblock %}
{% block mobile_entry %}

<a href="{% url 'users:signup' %}" class="mobile_entry">Sign up</a>
{% endblock mobile_entry %}